body {
    font-family:Copperplate;
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
margin:0;
padding:20px;
background:#85e0e0;
text-align:center;
}


nav {
background-color:#ffe6f2;
text-align: center;
padding: 12px;
}

nav a {
margin: 10px;
text-decoration: none;
color:#DB7093;
font-weight: bold;
}

nav a:hover {
    background-color: #FFC0CB; 
    color: white;
    border-radius: 5px;
}
.marquee-bar {
    width: 100%;
    background-color: #ffcce6;
    overflow: hidden;
}

.marquee-text {
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 20s linear infinite;
    color: #8b5f7d;
    font-weight: bold;
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

section {
padding: 25px;
text-align: center;
}
header h1 {
    color: #248f8f;
    font-size: 45px;
    text-align: center;
}
.home-section {
padding: 40px;
}
.intro-card {
    background-color: #e6ffff;
    padding: 20px;
    width: 70%;
    margin: 20px auto;
    border-radius: 15px;
    text-align: center;

box-shadow: 
    0 0 15px rgba(255, 105, 180, 0.6),
    0 0 30px rgba(255, 182, 193, 0.5);
}


.home-img {
width: 170px;
border-radius: 15px;
margin-bottom: 20px;
box-shadow: 0 0 15px rgba(123, 167, 217, 0.6);
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    gap: 40px;
    padding: 40px;
    color:pink;
}

.about-text {
    width: 60%; 
    text-align: left;
}

.about-title {
    color:#b30059;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;
    font-family: Copperplate;
}
.about-page .playlist-card {
    padding: 80px 40px;
    text-align: center;
    margin-top: 60px;
}

.about-page .playlist-card h2 {
font-size: 60px;
 margin-bottom: 40px;
 }


.about-page .playlist-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}


.about-page .spotify-card {
    background: rgba(255, 230, 240, 0.85);
    border: 1px solid rgba(255, 180, 200, 0.6);
    box-shadow:
        0 0 15px rgba(255, 160, 200, 0.5),
        0 0 30px rgba(180, 200, 255, 0.3);
}


.about-page .playlist-card:hover {
    transform: scale(1.12);
    box-shadow: 0 0 30px rgba(230,160,255,0.9), 0 0 60px rgba(230,160,255,0.7);
}

.spotify-style {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    justify-content: center;
}

.spotify-card {
    height: 360px;
    border-radius: 40px;
    padding: 20px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

    
.spotify-card img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 25px;
        margin-top: 15px;
}

.song-info {
    text-align: center;
}

.song-info h4 {
    color: #3b6fa5;
}

.song-info span {
    color: #6c8ebf;
}

.controls {
    margin-top: 15px;
    font-size: 22px;
    letter-spacing: 12px;
}

.spotify-card:hover {
    transform: scale(1.08);
}
a {
    text-decoration: none;
    color: inherit;
}
.fav-singer-section {
    text-align: center;
    margin-top: 40px;
}

.fav-singer-section h3 {
    margin-bottom: 15px;
    color: #BC8F8F;
}

.fav-singer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fav-singer {
    width: 90px;
    background: rgba(255, 240, 245, 0.9);
    border-radius: 18px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.fav-singer img {
    width: 100%;
    height: 90px;
    object-fit: cover;
    border-radius: 14px;
}

.fav-singer p {
    font-size: 12px;
    margin-top: 6px;
    color: #5f5f5f;
}
.fav-movie-section {
    text-align: center;
    margin-top: 50px;
}

.fav-movie-section h3 {
    margin-bottom: 20px;
    color: #BC8F8F;
}

.fav-movie-card {
    background: rgba(255, 230, 240, 0.85);
    padding: 25px;
    border-radius: 25px;
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
}

.fav-movie-card video {
    width: 100%;
    border-radius: 20px;
}

.movie-title {
    margin-top: 15px;
    font-weight: bold;
    color: #8b5f7d;
}


.intro-box {
    background:pink;
    padding: 20px 25px;
    border-radius: 15px;
    max-width: 700px;
    margin: 0 auto 30px auto;
    text-align: center;
}
.intro-box p {
    margin: 0;
    color: #cc0066;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.current-music {
    margin-left: 90px;
}

.current-music audio {
    width: 180px;        
    display: block;
    margin-bottom: 8px;
}

.current-song {
    margin: 0;           
    color: #6CA6CD;
}
.music-img {
    width: 220px;    
    height: auto;   
    border-radius: 15px; 
    display: block;
    margin-top: 10px;
}

.music-player {
    width: 400px;  
    height: 40px;   
}
.education-item {
    margin-bottom: 25px;
}

.education-section {
    padding: 40px;
}

.edu-title {
    text-align: center;
    margin-bottom: 30px;
}


.edu-table {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.edu-table th{
    background: linear-gradient(to right,#008B8B, #00f2fe);
    color: white;
    padding: 15px;
    text-align: center;
}


.edu-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


.edu-table tr:last-child td {
    border-bottom: none;
}


.edu-logo {
    width: 50px;
    height: auto;
}
.edu-memory-img {
    width: 260px;             
    max-width: 100%;
    height: auto;

    opacity: 0.75;         
    
    border-radius: 20px;       
    
    box-shadow: 
        0 10px 25px rgba(0,0,0,0.2);  

    transition: all 0.4s ease; 
}

.edu-memory-img:hover {
    opacity: 1;                
    transform: scale(1.05);    
}


/* EXPERIENCE SECTION */
.experience-section {
    padding: 60px 30px;
    text-align: center;
}

.exp-title {
    font-size: 36px;
    color: #248f8f;
    margin-bottom: 40px;
}

/* GALLERY */
.exp-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 900px;
    margin: auto;
}

.exp-gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 18px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.exp-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

/* POPUP */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup:target {
    display: flex;
}

.popup-content {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    position: relative;
}

.popup-content img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.popup-content h3 {
    margin: 10px 0;
    color: #248f8f;
}

.popup-content p {
    color: #555;
}

/* CLOSE BUTTON */
.close {
    position: absolute;
    top: 15px;
    right: 20px;
    text-decoration: none;
    font-size: 28px;
    color: #ff5c8d;
}

/* GALLERY */
.gallery-section {
    padding: 60px;
    text-align: center;
}

.gallery-section h2 {
    font-size: 36px;
    color: #248f8f;
    margin-bottom: 40px;
}

/* GRID */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.gallery-grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 182, 193, 0.8);
}

/* POPUP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup:target {
    display: flex;
}

.popup-content {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    max-width: 500px;
    text-align: center;
    animation: zoom 0.3s ease;
}

.popup-content img {
    width: 100%;
    border-radius: 15px;
}

.popup-content p {
    margin-top: 15px;
    font-size: 18px;
    color: #cc0066;
}

/* CLOSE BUTTON */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    text-decoration: none;
    color: white;
}


@keyframes zoom {
    from { transform: scale(0.6); }
    to { transform: scale(1); }
}

.contact-section {
    padding: 60px 20px;
    text-align: center;
}

.contact-title {
    font-size: 40px;
    color: #248f8f;
    margin-bottom: 10px;
}

.contact-desc {
    color: #666;
    margin-bottom: 40px;
}


.contact-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.contact-card {
    width: 140px;
    padding: 20px;
    background: rgba(255,255,255,0.6);
    border-radius: 20px;
    text-decoration: none;
    color: #555;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card img {
    width: 50px;
    margin-bottom: 10px;
}

.contact-card span {
    display: block;
    font-weight: bold;
}


.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(255,105,180,0.5);
}

ul {
list-style: none;
padding: 0;
}


ul li {
background-color: #ffffff;
padding: 12px;
}


footer {
    background-color:AFEEEE;
    color:#008080;;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.spotify-card {
    background-color:#E6F2FF;

}
    


